@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Host;

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - @Labels["WebCRUD.vNext"]</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/jquery-ui/themes/redmond/jquery-ui.css" />
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/themes/redmond/jquery-ui.css"
                  asp-fallback-href="~/lib/jquery-ui/themes/redmond/jquery-ui.min.css"
                  asp-fallback-test-class="ui-helper-hidden" asp-fallback-test-property="display" asp-fallback-test-value="none" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">@Labels["WebCRUD.vNext"]</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">@Labels["Home_Title"]</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                @Labels["MainMenu_Orders"]
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Orders" asp-action="Index">@Labels["OrderSearchForm_Title"]</a></li>
                                <li><a asp-controller="Orders" asp-action="Create">@Labels["OrderCreateForm_Title"]</a></li>
                            </ul>
                        </li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <hr class="clearfix" />
            <footer>
                <p class="pull-left">&copy; 2016 - @Labels["AppTitle"]</p>
                <p class="pull-right">Environment: @Host.EnvironmentName</p>
            </footer>
            @Html.Partial("_Modals")
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/globalize/lib/globalize.js"></script>
            <script src="~/lib/globalize/lib/cultures/globalize.culture.en-GB.js"></script>
            <script src="~/lib/globalize/lib/cultures/globalize.culture.pl-PL.js"></script>
            <script src="~/lib/jquery-ui/jquery-ui.js"></script>
            <script src="~/lib/jquery-ui/ui/i18n/datepicker-en-GB.js"></script>
            <script src="~/lib/jquery-ui/ui/i18n/datepicker-pl.js"></script>
            <script src="~/lib/jquery.cookie/jquery.cookie.js"></script>
            <script src="~/lib/typeahead.js/dist/typeahead.bundle.js"></script>
            <script src="~/lib/handlebars/handlebars.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script asp-src-include="~/js/Localization/*.js, ~/js/Application/*.js, ~/js/Application/*/*.js"
                    asp-src-exclude="~/js/Application/plugins.extensions.js"
                    asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"
                    asp-fallback-src="~/lib/globalize/lib/globalize.js"
                    asp-fallback-test="window.Globalize">
            </script>
            <script src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/cultures/globalize.culture.en-GB.js"
                    asp-fallback-src="~/lib/globalize/lib/cultures/globalize.culture.en-GB.js"
                    asp-fallback-test="window.Globalize.cultures['en-GB']">
            </script>
            <script src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/cultures/globalize.culture.pl-PL.js"
                    asp-fallback-src="~/lib/globalize/lib/cultures/globalize.culture.pl-PL.js"
                    asp-fallback-test="window.Globalize.cultures['pl-PL']">
            </script>
            <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/jquery-ui.min.js"
                    asp-fallback-src="~/lib/jquery-ui/jquery-ui.min.js"
                    asp-fallback-test="window.jQuery.ui">
            </script>
            <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/i18n/datepicker-en-GB.js"
                    asp-fallback-src="~/lib/jquery-ui/ui/i18n/datepicker-en-GB.js"
                    asp-fallback-test="window.jQuery.datepicker.regional['en-GB']">
            </script>
            <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/i18n/datepicker-pl.js"
                    asp-fallback-src="~/lib/jquery-ui/ui/i18n/datepicker-pl.js"
                    asp-fallback-test="window.jQuery.datepicker.regional['pl']">
            </script>
            <script src="~/lib/jquery.cookie/jquery.cookie.js"></script>
            <script src="~/lib/typeahead.js/dist/typeahead.bundle.js"></script>
            <script src="~/lib/handlebars/handlebars.js"></script>
            <script src="~/js/site.min.js" asp-append-version="true"></script> 
        </environment>

        <script type="text/javascript">
                $(function () {
                    Application.setCulture("@System.Globalization.CultureInfo.CurrentCulture.ToString()");
                });
        </script>
        @Html.Partial("_Routes")

        @RenderSection("scripts", required: false)
    </body>
</html>
